/*gg css*/

#main{
	margin: 0 auto;
	position: relative;
	width: 1000px;
}

.wrapper {
	width: 910px;
}

body {
	background-color: white;}

a {
	font-size: 12pt;
	font-family: Arial;
}

h1{
	font-family: Garamond;
	font-size: 20pt;}

h2{
	font-family: Garamond;
	font-size: 17pt;}

p.welcome{
	font-family: arial;
	font-size: 15pt;
	text-align: left;}

li{
	display: inline;}

ul.nav{
	padding: 10px;
	margin: 0px auto 0px auto;
	border-top: 3px double #666666;
	border-bottom: 3px double #666666;
	text-align: center;}

.bottominfo {
	width: 284px;
	padding: ;
	margin: 0px 0px 0px 0px;
	text-align: left;
}

a.bottominfo {
	font-family: Garamond;
	font-size: 14pt;
	color: #6699cc;
}

.bottomNav{
	width: 910px;
	/* class, id, i dont know!*/
}

ul.bottomNav{
	font-size: 12pt;
	width: 910px;
	padding: 10px;
	margin: 0px auto 0px auto;
	border-top: 3px double #666666;
	border-bottom: 3px double #666666;
	text-align: center;
}
