/*gg css*/
p {
	font-family: sans-serif;
	font-size: 13px;
}
.feedContent {
	font-family: sans-serif;
	font-size: 13px;	
}
.headline-txt a, .headline {
	font-family: Arial;
	color: #EEE;
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
}
.postBody, .headline-txt {
	font-family: Arial;
	font-size: 12px;
}
.date {
	color: #cccccc;
	font-size: 11px;
	font-family: sans-serif;
}
#feedWrapper ul {
	list-style: none;
	padding-left: 2px;
	margin-top: 0px;
	height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}
#post_list li, #tweet_list li {
	position: relative;
	width: 300px;
	margin: 0 auto;
	padding: .75em 0;
	overflow: hidden;
	border-bottom: 1px solid #EEE;
	font-size: 100%;
	line-height: 1.4;
}
#post_list li .thumb {
	float: left;
	margin: 3px 13px 3px 0;
	display: block;
}
#post_list li .text, #tweet_list li .text {
	padding-left: 8px;
	width: 285px;
}
#feedWrapper {
	right: 0;
	top: 0;
	width: 300px;
	height: 270px;
	overflow: hidden;
}

#feedWrapperBlog {
	right: 0;
	top: 0;
	width: 580px;
}

#feedWrapperBlog ul {
	list-style: none;
	padding-left: 2px;
	margin-top: 0px;
}

#feedWrapperBlog #post_list li {
	position: relative;
	width: 580px;
	margin: 0 auto;
	padding: .75em 0;
	overflow: hidden;
	border-bottom: 1px solid #EEE;
	font-size: 100%;
	line-height: 1.4;
}

#feedWrapperBlog #post_list li .text {
	padding-left: 8px;
	width: 580px;
}

#main{
	margin: 0 auto;
	position: relative;
	width: 1024px;
}

.selectedNav {

	border-bottom: 7px solid #999;
}

.wrapper {
	width: 910px;
	margin: 0 auto;
}

body {
	background-color: white;}

.floatTxt {
	background-color: #333;
	color: #FFF;
	font-family: Garamond;
	font-weight: 400;
	font-style: italic;
	font-size: 24px;
	letter-spacing: 3px;
	position: absolute;
	width: 250px;
	padding: 10px;
}

.floatTxt p {
	font-family: Arial;
	font-size: 16px;
	letter-spacing: 0px;
	margin-top: 8px;
}

.profilePic .floatTxt {
	position: relative;
	margin-bottom: 8px;
}

.servicesContent h2 {
	border-bottom: none;
}

.servicesContent p {
	margin-top: -14px;
}

h1{
	font-family: Garamond;
	font-weight: 400;
	font-size: 20px;
	padding-bottom: 8px;
	border-bottom: 1px solid #EEE;
	letter-spacing: 2px;
}

#affiliates a {
	color: #666;
	font-style: italic;
}

h2{
	font-family: Garamond;
	font-size: 17px;
	font-weight: 400;
	padding-bottom: 8px;
	border-bottom: 1px solid #EEE;
	letter-spacing: 2px;
}

.welcome {
	float: right;
	width: 290px;
	padding: 10px 0 10px 10px;
}

.mainNav {
	float: left;
	width: 600px;
	padding-bottom: 10px;
	border-bottom: 3px double #999;
}

.mainNav div img {
	padding-right: 20px;
	padding-top: 20px;
}

.welcome p{
	font-family: arial;
	font-size: 15px;
	text-align: left;
	
}

.socialLink:hover {
	opacity: 0.5;
	filter:alpha(opacity=50);
}

.profilePic {
	width: 280px;
	min-height: 360px;
	margin-top: 15px;
	float: left;
}

li{
	display: inline;}



.nav ul, .bottomNav ul{
	padding: 10px 10px 0 10px;
	margin: 0 auto;
	font-size: 20px;
	position: relative;
	border-bottom: 1px solid #999;
	text-align: center;
	color: #666;
	letter-spacing: 3px;
}

.nav ul a, .bottomNav ul a {
	color: #666;
	text-decoration: none;
}

.bottomNav ul {
	border-top: 3px double #999;
}

.bottomInfo {
	padding: 0 15px 15px 15px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	width: 910px;
	clear: both;
}

.bottomInfo div {
	width: 300px;
	/*border: 1px cyan solid;*/

}

a.bottominfo {
	font-family: Garamond;
	font-size: 14pt;
	color: #6699cc;
	letter-spacing: 2px;

}

.bottomNav{
	width: 910px;
	/* class, id, i dont know!*/
}

.bottomNav ul{
	font-size: 12pt;
	width: 910px;
	padding: 10px;
	margin: 0px auto 0px auto;
	border-top: 3px double #999;
	border-bottom: 3px double #999;
	text-align: center;
}
